$background-color: #121212;
$error-background-color: red;
$error-color: red;
$color: whitesmoke;
$visited-color: #666;

body {
  background-color: $background-color;
  color: $color;
  margin: 33px; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: $background-color;
  padding: 10px;
  font-size: 11px; }

a {
  color: $color; }

a:visited {
  color: $visited-color; }

a:hover {
  color: $background-color;
  background-color: $background-color; }

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: $error-background-color;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid $error-color;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: $background-color; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: $error-background-color;
  color: $background-color; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }